@model EasyShareApp.Models.Register

@{ ViewData["Title"] = "ConfirmationPage"; }

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/images/pen-drive-close.png" style="height: 50px; width: 50px; margin: 0px 2px;" />
                <h4 class="modal-title">Anote a chave</h4>
                <a asp-action="MenuList" type="button" class="close" asp-route-id="@Model.Id">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </a>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Key)</dt>
                    <dd>@Html.DisplayFor(model => model.Key)</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <a asp-action="Index" type="button" class="btn btn-outline-secondary">Sair</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
