@model EasyShareApp.Models.Register

@{
    ViewData["Title"] = "DeleteForce";
}

<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/images/trash-bin-danger.png" style="height: 50px; width: 50px; margin: 0px 2px;" />
                <h4 class="modal-title">Você está certo de que quer apagar?</h4>
                <a asp-action="MenuList" type="button" class="close" asp-route-id="@Model.Id">
                    <span aria-hidden="true">x</span><span></span>
                </a>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Key)</dt>
                    <dd>@Html.DisplayFor(model => model.Key)</dd>
                </dl>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                <div class="form-actions no-color">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Apagar" class="btn btn-danger" />
                </div>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>