@model EasyShareApp.Models.Register

@{ ViewData["Title"] = "Share"; }

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Info de acesso</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-10 text-center">
                    <label asp-for="Key" class="control-label"></label>
                    <input type="text" value="@Model.Key" id="key">
                    <button class="glyphicon glyphicon-copy clipboard"></button>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript: history.go(-1)" class="btn btn btn-outline-secondary">Voltar</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section scripts{
    <script>
        $(function () {
            $(".clipboard").click(function () {

                /* Get the text field */
                var copyText = document.getElementById("key");

                /* Select the text field */
                copyText.select();
                copyText.setSelectionRange(0, 99999); /* For mobile devices */

                /* Copy the text inside the text field */
                navigator.clipboard
                    .writeText(copyText.value)
                    .then(() => {
                        alert("Copiado com sucesso :)");
                    })
                    .catch(() => {
                        alert("Oops! Alguma coisa deu errado :(");
                    });
            });
        })
    </script>
}
